* {
    margin: 0;
    padding: 0;
}




header {
    width: 100%;
    height: 100vh;
    background: url(images/banner.jpg);
    background-size: cover;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #111111ad; */
    background: #373737f9;
    /* opacity: 0.1; */
    z-index: 1;
    animation: colorChange 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

header nav {
    background-color: #18181bb5;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    align-items: center;
    box-shadow: -1px -2px 20px 0;
    position: sticky;
    z-index: 10;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: white;
    font-family: cursive;
    letter-spacing: 3px;
    /* z-index: 10; */
}

.logo span {
    font-weight: bold;
    color: #1B6B93;
    font-size: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    z-index: 1;
    font-family: sans-serif;
}


header nav ul li {
    color: white;
    padding: 20px 25px;
    transition: .2s;
}
header nav ul li:hover {
    background: #0b0912;
    border-radius: 5px;

}

header .text {
    position: absolute;
    top:  50%;
    left: 50%; 
    min-width: 313px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 200;
}
header .text h2 {
    font-size: 70px;
    font-family: cursive;
    letter-spacing : 4.5 ;
}

header .text p {
    font-size: 20px;
    font-family: sans-serif;
}




section {
    padding: 100px 0;
    background-color: #202024;
}



.container {
    padding: 5px 10%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */
    justify-content: space-between;
}
section .container .box {
    width: calc( (100% / 3 ) - 20px );
    background: #272a2b;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    /* padding: 20px; */
}

/* #04d289 */


section .container .box .text {
    font-family: sans-serif;
    text-align: center;
    padding: 0 10px;
}

section .container .box:nth-child(2) button,
section .container .box:nth-child(4) button,
section .container .box:nth-child(6) button
  {
    background-color: #0B666A;

}
section .container .box:nth-child(1) button,
section .container .box:nth-child(3) button,
section .container .box:nth-child(5) button
  {
    background-color: #1B6B93;
}

section .container .box h3 {
    margin: 18px 0;
    color: white;
    font-weight: 100;
    color: white;
    font-size: 20px;
}


section .container .box p {
    line-height: 1.3;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffffb4;
}


section .container .box button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: #4CAF50;
    font-size: 23px;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 2.5px;
    transition: .2s;
}

section .container .box button:hover {
    opacity: .8;
}


footer {
    background: #252525f9;
    padding-top: 50px;
}



footer .text {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}


footer .text h2 {
    padding-bottom: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}
footer .text p {
    padding-bottom: 25px;
    color: #ffffff80;
    font-family: sans-serif;
    line-height: 1.5;

}
footer .text h5 {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}
footer .text h5 span {
    font-weight: bold;
}
.spans {
    width: 30px;
    height: 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 14px;
    border-radius: 49px;
    transition: .3s;
    position: relative;
}
.pop {
    position: relative;
}
/* nav .pop ul {
    display: flex;
} */


.spans:hover {
    background: #0080ff21;
}
.spans {
    display: none;
}


.spans span {
    background-color: #000000;
    width: 100%;
    height: 3px;
    z-index: 300;
    
}
@keyframes colorChange {
    0% {
        background: #373737f9;
    }
    100% {
        background: #222b37ad;
    }
}
@media only screen and (max-width: 1120px) {
    section .container .box  {
        width: calc( (100% / 2 ) - 20px );
    }
}
@media only screen and (max-width: 1000px) {
    section .container .box  {
        width: calc( (100% / 2 ) - 20px );
    }
}
@media only screen and (max-width: 830px) {
        section .container .box  {
        width: 100% ;
    }
    header .text h2 {
        font-size: 50px;
    }
}
@media only screen and (max-width: 550px) {
    header .text h2 {
        font-size: 30px;
    }
    nav .pop ul{
        transform: translate(-50px, 97px);
        position: absolute;
        display: flex;
        background-color: #18181bb5;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
    }
    .spans {
        display: flex;
    }
}

